{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header>
    <div class="nav container">
        <a href="#" class="logo">Be<span>li</span></a>
    <a href="#" class="login">Login</a> 

    <a href="#" class="login">Register</a>
</div>
</header>
<section class="home" id="home">
    <div class="home-text container">
        <h2 class="home-title">The Beli Blog</h2>
        <span class="home-subtitle">Your Source Of Great Content</span>
    </div>
</section>


<div class="post-filter container">
    <span class="filter-item active-filter" data-filter="all">All</span>
    <span class="filter-item" data-filter="design">Design</span>
    <span class="filter-item" data-filter="tech">Tech</span>
    <span class="filter-item" data-filter="mobile">Mobile</span>
    
</div>

<section class="post container">
    {% for blog in blogs %}
    <div class="post-box">
        <img src="{{blog.img.url}}" alt="" class="post-img">
        <h2 class="category">Category</h2>
        <a href="{{blog.get_url}}" class="post-title">{{blog.title}}</a>
        <span class="post-date">{{blog.created_on}}</span>
        <p class="post-description">{{blog.description}}</p>
        <div class="profile">
            <img src="{{blog.user.profile_picture.url}}" alt="" class="profile-img">
            <span class="profile-name">{{blog.user.username}}</span>
        </div>
    </div>
    {%endfor%}
   
</section>

<div class="footer container">
    <p>&#169; Blei Blogging </p>
    <div class="social">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
        <a href="#"><i class="bx bxl-github"></i></a>
        
    </div>
</div>





<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>