{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header>
    <div class="nav container">
        <a href="index.html" class="logo">Be<span>li</span></a>
    <a href="#" class="login">Login</a> 

    <a href="#" class="login">Register</a>
</div>
</header>
<section class="post-header"></section>
<div class="header-content post-container">

<a href="index.html" class="back-home">Back To Home</a>
<h1 class="header-title" style="background-color: rgb(36, 36, 36);">
    {{blog.title}}
</h1>
<img src="{{blog.img.url}}" alt="" class="header-img">
</div>



<section class="post-content post-container">
   <h2 class="sub-heading">
    {{blog.title}}
   </h2>
   <p class="post-text">{{blog.description}}</p>

</section>

<div class="share post-container">
    <span class="share-title">Share this Article</span>
    <div class="social">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
        <a href="#"><i class="bx bxl-github"></i></a>
        
    </div>
</div>
<div class="footer container">
    <p>&#169; Blei Blogging </p>
    <div class="social">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
        <a href="#"><i class="bx bxl-github"></i></a>
        
    </div>
</div>





<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>